body {
}
.content, #app {
    height: calc(100% - 72px);
}
    #app .win-splitviewpanetoggle {
        float: left;
    }

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
        font-size: 25px;
        left: 50px;
        margin-top: 6px;
        vertical-align: middle;
        display: inline-block;
    }

    #app .nav-commands {
        margin-top: 20px;
    }

.win-splitviewcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView pane style for different screen sizes*/
#app.large .splitView {
    width: 100%;
}

#app.large .win-splitview-content .win-splitviewpanetoggle {
    display: none;
}

#app.medium .splitView {
    width: 100%
}

#app.medium .win-splitview-content .win-splitviewpanetoggle {
    display: none;
}

#app.small .splitView {
    width: 100%;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: rgb(192,192,192);
}

#app .contenttext {
    margin-left: 20px;
    margin-top: 6px;
}